@font-face {
    font-family: "Yeseva One";
    src: url("fonts/YesevaOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Yeseva One", sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    color: initial;
    text-decoration: none;
    font-size: initial;
}

.headers__wrapper {
    font-size: 1.5rem;
    padding-top: 5rem;
    text-align: center;
}

/* HEADER START */

header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #ffffff;
}

header.shrink {
    height: 110px;
}

.logo {
    height: 100px;
    width: auto;
}

.nav__list {
    list-style-type: none;
    display: flex;
}

.nav__el {
    margin-right: 1rem;
}

.nav__el > a {
    font-size: 1.5rem;
}

.nav__link {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.nav__link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-out;
}

.nav__link:hover::after {
    transform: scaleX(1);
}

/* HEADER END */

/* ABOUT START */

#about {
    margin-top: 150px;
    height: 700px;
    display: flex;
}

/* !!!Slideshow container!!! */

.gallery__div {
    height: 700px;
    flex: 1;
    max-width: 1000px;
    position: relative;
}

/* Hide the images by default */
.slide {
    display: none;
}

.slide > img {
    height: 700px;
}

/* Next & previous buttons */
.gallery__button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.gallery__button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.slide__number {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

#dot-wrapper {
    position: relative;
    bottom: 5%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.about__div {
    height: 100%;
    flex: 1;
    background-color: #000000;
    color: #ffffff;
}

.about__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2em;
    max-width: 90%;
}

.about__head {
    font-family: Georgia, serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.about__head > h1 {
    font-family: Georgia, serif;
}

.about__head > h3 {
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.about__main > p {
    font-family: Georgia, serif;
    font-size: 1.3rem;
}

.about__footer {
    display: flex;
    justify-content: space-between;
}

.about__footer > a > p {
    color: #ffffff;
}

/* ABOUT END */

/* DISCOUNTS START */

#discounts {
    padding-bottom: 10rem;
    border-bottom: 1px solid black;
}

.discounts__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 70%;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.discounts__card {
    max-width: 360px;
}

.card__main {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.card__main img {
    width: 100%;
    height: 300px;
}

.card__header__wrapper {
    position: absolute;
    width: 100%;
    height: 2.8rem;
    color: #ffffff;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: 1.2rem;
}

.card__description {
    margin-top: 2rem;
}

.card__description > h5 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

/* DISCOUNTS END */

/* MENU START */

#menu {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    padding-bottom: 7rem;
}

#menu__buttons__wrapper {
    display: flex;
    justify-content: space-between;
}

.menu__buttons {
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    font-size: 1rem;
}

.menu__buttons:hover {
    background-color: #000000;
    color: #ffffff;
}

.menu__grid {
    margin-top: 2rem;
    width: 100%;
}

.menu__section {
    margin-top: 6rem;
    width: 100%;
}

.menu__section > h3 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.menu__section__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.menu__card {
    max-width: 250px;
}

.menu__card > img {
    width: 100%;
    height: 280px;
}

.card__info {
    margin-top: 1rem;
}

/* MENU END */

/* BOOK START */

#book__form {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    margin-bottom: 10rem;
}

.form__row {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.form__row > label {
    font-size: 1.1rem;
}

.form__row > p {
    font-size: 1.1rem;
}

.form__row > input {
    width: 100%;
    height: 3rem;
}

.guest {
    display: inline-block;
    max-height: 50px;
    margin-right: 3px;
}

#submit-wrapper {
    display: flex;
    justify-content: center;
}

#book-submit {
    background-color: #000000;
    border: 1px solid #000000;
    color: #ffffff;
    padding: 1rem;
    cursor: pointer;
}

#book-submit:hover {
    background-color: #ffffff;
    color: #000000;
}

/* BOOK END */
